.form {
  width: 300px;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup select {
  padding: 4px;
}
